@font-face {
  font-family: "Inconsolata-Bold";
  src: url("/assets/fonts/static/Inconsolata-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata-ExtraBold";
  src: url("/assets/fonts/static/Inconsolata-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata-Medium";
  src: url("/assets/fonts/static/Inconsolata-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata-Regular";
  src: url("/assets/fonts/static/Inconsolata-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url(./assets/images/background-desktop.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

#mainDiv {
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.2vw;
}

.logo-full {
  width: 9vw;
}

#headingTop {
  font-family: "Inconsolata-Bold";
}

#textDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
  margin-top: 3vw;
  font-family: "Inconsolata-ExtraBold";
}

#textDiv h2 {
  font-size: 2.5vw;
  width: 70%;
  text-align: center;
}

#textDiv p {
  font-size: 1vw;
  width: 70%;
  font-family: "Inconsolata-Medium";
  color: #9998aa;
  text-align: center;
}
